[Desktop Entry]
Name=I2P
Comment=Image to Grid Pattern Creator for Diamond Painting, Cross Stitch, & Tapestry Crochet | Transform Photos into Crafting Patterns
Exec=cstitch
Icon=cstitch
Categories=Graphics;2DGraphics;RasterGraphics;Qt;
Terminal=false
Type=Application
